.page {
  scroll-behavior: smooth;

  background: $background-color;
  color: $text-color;

  transition: all 0.3s;

  &--dark-theme {
    color: $background-color;
    background: $text-color;
  }

  &__body {
    margin: 18px 16px 54px;
    font-family: InterDisplay, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5em;
    max-width: 1280px;
    margin-inline: auto;
    position: relative;

    &--menu--open {
      overflow: hidden;
    }
  }

  &__header {
    margin-bottom: 88px;
  }
  &__main {
    margin-bottom: 217px;
  }

  &__headline {
    margin-bottom: 89px;
  }

  &__blocks {
    display: flex;
    flex-direction: column;
    gap: 116px;
  }

  &__logo-text {
    margin-top: 30px;
  }

  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100dvh;
    background-color: $background-color;
    transform: translateX(-100%);
    transition: transform 0.3s;

    &:target {
      transform: translateX(0);
    }

    @include on-tablet {
      display: none;
    }
  }
}
