@mixin on-tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin on-max {
  @media (min-width: 1328px) {
    @content;
  }
}

@mixin page-grid {
  --count-columns: 2;

  display: grid;
  column-gap: 16px;
  row-gap: 24px;
  grid-template-columns: repeat(var(--count-columns), 1fr);

  @include on-tablet {
    --count-columns: 12;

    column-gap: 16px;
  }

  @include on-desktop {
    --count-columns: 12;

    column-gap: 20px;
  }
}

@mixin price-grid {
  --count-columns: 2;

  display: grid;
  column-gap: 16px;
  grid-template-columns: repeat(var(--count-columns), 1fr);

  @include on-tablet() {
    --count-columns: 10;

    column-gap: 20px;
  }
}

@mixin container {
  margin-inline: 12px;

  @include on-tablet {
    margin-inline: 18px;
  }

  @include on-desktop {
    margin-inline: 24px;
  }

  @include on-max {
    margin-inline: 0;
  }
}
