$background-color: #f6f5f2;
$text-color: #2b3f5b;
$orange-color: #cc8e1e;
$fon-color: #cc8e1e1a;
$border-color: #cc8e1e45;
$border-light-color: #cc8e1e99;
$background-icon: rgba(241, 239, 233, 0.9);
$background-price: #faf4e8;
$swiper-width: 629px;
$button-color: #f1efe9;
$label-color: #646e7c;
$placeholder-color: #b6bbc3;
